@import "tailwindcss";

@theme {
  /* Brand */
  --color-main-blue: #73d1e2;

  /* Font */
  --font-display: var(--font-darker-grotesque);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: var(--font-display), sans-serif;
  -webkit-font-smoothing: antialiased;
}